<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <main>
            <div>
                <h1>Greetings</h1>
                <p>This is the beginning of something great.</p>
            </div>
        </main>
    </body>
</html>