<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="A site with a bunch of tasks">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TaskList</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
            <h1>The fabulous task list</h1>
            <p>Feel free to edit these tasks to your heart's content.</p>
        </header>
        <div class="flex-main">
            <aside>
                The sidebar
            </aside>
            <main>
                <div>Task 1</div>
                <div>Task 2</div>
                <div>Task 3</div>
                <div>Task 4</div>
                <div>Task 5</div>
            </main>
        </div>
    </body>
</html>